$chakra: "Chakra Petch", sans-serif;
$white: #ffffff;
$dark-blue: #110038;

html {
  font-size: 16px;
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.container {
  width: auto;
  margin-left: 7%;
  margin-right: 9%;
  max-width: 1200px;
  @media screen and (min-width: 1440px) {
    margin: 0 auto;
  }
}

.chakra {
  font-family: $chakra;
}

.font-small {
  font-size: 0.75rem;
}
.font-medium {
  font-size: 0.875rem;
}
.font-big {
  font-size: 1rem;
}

.hidden {
  display: none;
}

.button-150 {
  width: 150px;
  height: 36px;
  font-family: $chakra;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 768px) {
    width: 110px;
  }
}

.button-144 {
  width: 144px;
  height: 36px;
  font-family: $chakra;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 768px) {
    width: 100px;
  }
}

.button-131 {
  width: 131px;
  height: 36px;
  font-family: $chakra;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 768px) {
    width: 100px;
  }
}

.button-102 {
  width: 102px;
  height: 36px;
  font-family: $chakra;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1439px) {
    width: 15%;
    max-width: 102px;
  }
  @media screen and (max-width: 767px) {
    width: 10%;
  }
}

.button-81 {
  width: 81px;
  height: 34px;
  font-family: $chakra;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0;
  line-height: 18px;
  color: $white;
  position: absolute;
  bottom: 15px;
  left: 7px;
}

.button-36 {
  width: 36px;
  height: 36px;
  font-family: $chakra;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 768px) {
    width: 25px;
  }
}

.dotted-border-144:hover {
  width: 140px;
  height: 32px;
  border: 1px dotted $dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 768px) {
    width: 98px;
    padding: 5px;
  }
}

.dotted-border-102:hover {
  width: 98px;
  height: 32px;
  border: 1px dotted $dark-blue;
  align-items: center;
  @media screen and (max-width: 768px) {
    width: 100px;
    padding: 5px;
  }
}

.dotted-border-81:hover {
  width: 75px;
  height: 28px;
  border: 1px dotted $dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dotted-border-36:hover {
  width: 32px;
  height: 32px;
  border: 1px dotted $dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-disabled {
  letter-spacing: 0;
  line-height: 18px;
  cursor: auto;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 7px solid $dark-blue;
}

.my-gifos-tag {
  width: 95px;
  height: 32px;
  padding: 1px;
  font-family: $chakra;
  display: flex;
  align-items: center;
  margin-left: 16.5px;
  letter-spacing: 0px;
  line-height: 18px;
  @media screen and (max-width: 768px) {
    width: 62px;
    margin-left: auto;
  }
}

.suggested-gifs {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 64px;
  padding-left: 4px;
  padding-right: 4px;
}

.gif-suggested-container {
  width: 280px;
  height: 280px;
  padding: 4px;
  position: relative;
}

.gif-heading {
  width: 280px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}

.gif-description {
  margin-left: 7px;
}

.gifs-search {
  width: 100%;
  height: 110px;
  display: flex;
  flex-flow: column;
  position: relative;
  margin-top: 19px;
  padding: 3px;
  @media screen and (max-width: 768px) {
    margin-top: 80px;
  }
  label {
    width: 100%;
    height: 24px;
    color: $white;
    display: flex;
    align-items: center;
    padding-left: 6px;
    font-weight: 600;
    margin: 2px;
    margin-bottom: 12px;
  }
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
}

#searchbar {
  width: 88.5%;
  height: 48px;
  margin-left: 15px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 8px;
  padding-left: 16px;
  background: $white;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  letter-spacing: 0;
  line-height: 22px;
  @media screen and (max-width: 1439px) {
    width: 80%;
    margin-right: 2%;
  }
}

#search {
  align-self: center;
  span {
    width: 100%;
    display: flex;
    justify-content: space-around;
    p {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }
}

.subtitle {
  width: 100%;
  height: 32px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  padding-left: 7px;
  background: #fffafe;
  color: $dark-blue;
}

.main-container {
  width: 100%;
  display: grid;
  grid-auto-flow: row dense;
}

.gif-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  color: $white;
  span {
    font-weight: 700;
  }
  img {
    width: 16px;
    height: 14px;
  }
}
