$chakra: "Chakra Petch", sans-serif;
$white: #ffffff;
$dark-blue: #110038;

html {
  font-size: 16px;
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.container {
  width: auto;
  margin-left: 7%;
  margin-right: 9%;
  max-width: 1200px;
  @media screen and (min-width: 1440px) {
    margin: 0 auto;
  }
}

.grayscale {
  filter: grayscale(90%) blur(3px);
}

.chakra {
  font-family: $chakra;
}

.font-small {
  font-size: 0.75rem;
}
.font-medium {
  font-size: 0.875rem;
}
.font-big {
  font-size: 1rem;
}

.hidden {
  display: none !important;
}

.bold {
  font-weight: 800;
}

.italic {
  font-style: italic;
}

.line-through {
  text-decoration: line-through;
}

.arrow-back {
  display: block;
  margin-right: 7px;
  max-width: 24px;
  max-height: 24px;
}

.button-256 {
  width: 256px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-150 {
  width: 150px;
  height: 36px;
  font-family: $chakra; //ESTO DEBERIA ESTAR EN SU CLASE GENERICA
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 768px) {
    width: 110px;
  }
}

.button-144 {
  width: 144px;
  height: 36px;
  font-family: $chakra;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 768px) {
    width: 100px;
  }
}

.button-131 {
  width: 131px;
  height: 36px;
  font-family: $chakra;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 768px) {
    width: 100px;
  }
}

.button-102 {
  width: 102px;
  height: 36px;
  font-family: $chakra;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1439px) {
    width: 15%;
    max-width: 102px;
  }
  @media screen and (max-width: 767px) {
    width: 10%;
  }
}

.button-81 {
  width: 81px;
  height: 34px;
  font-family: $chakra;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0;
  line-height: 18px;
  color: $white;
  position: absolute;
  bottom: 15px;
  left: 7px;
}

.button-36 {
  width: 36px;
  height: 36px;
  font-family: $chakra;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 768px) {
    width: 25px;
  }
}

.dotted-border-144:hover {
  width: 140px;
  height: 32px;
  border: 1px dotted $dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 768px) {
    width: 98px;
    padding: 5px;
  }
}

.dotted-border-102:hover {
  width: 98px;
  height: 32px;
  border: 1px dotted $dark-blue;
  align-items: center;
  @media screen and (max-width: 768px) {
    width: 100px;
    padding: 5px;
  }
}

.dotted-border-81:hover {
  width: 75px;
  height: 28px;
  border: 1px dotted $dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dotted-border-36:hover {
  width: 32px;
  height: 32px;
  border: 1px dotted $dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-disabled {
  letter-spacing: 0;
  line-height: 18px;
  cursor: auto;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 7px solid $dark-blue;
}

.my-gifos-tag {
  width: 95px;
  height: 32px;
  padding: 1px;
  font-family: $chakra;
  display: flex;
  align-items: center;
  margin-left: 16.5px;
  letter-spacing: 0px;
  line-height: 18px;
  @media screen and (max-width: 768px) {
    width: 62px;
    margin-left: auto;
  }
}

.suggested-gifs {
  width: 100%;
  height: auto;
  margin-top: 64px;

  @media screen and (max-width: 768px) {
    margin-top: 100px;
  }

  div {
    display: flex;
    justify-content: space-between;
    padding-left: 4px;
    padding-right: 4px;
    @media screen and (max-width: 1439px) {
      justify-content: space-between;
      flex-wrap: wrap;
    }
    @media screen and (max-width: 1050px) {
      justify-content: space-around;
    }
  }
}

.gif-suggested-container {
  width: 288px;
  height: 288px;
  padding: 3px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
  @media screen and (max-width: 1439px) {
    margin-right: 3px;
  }
}

.gif-suggested-container:nth-of-type(4) {
  @media screen and (max-width: 1400px) {
    display: none;
  }
}

.gif-suggested-container:nth-of-type(3) {
  @media screen and (max-width: 1050px) {
    display: none;
  }
}

.gif-suggested-container:nth-of-type(2n) {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.gif-heading {
  width: 280px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}

.gif-description {
  margin-left: 7px;
}

.gifs-search {
  width: 100%;
  height: 110px;
  display: flex;
  flex-flow: column;
  position: relative;
  margin-top: 19px;
  padding: 3px;
  @media screen and (max-width: 768px) {
    margin-top: 80px;
  }
  label {
    width: 100%;
    height: 24px;
    color: $white;
    display: flex;
    align-items: center;
    padding-left: 6px;
    font-weight: 600;
    margin: 2px;
    margin-bottom: 12px;
  }
}

.search-bar {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  figure {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding-right: 18px;
  }
  @media screen and (max-width: 768px) {
    justify-content: center;
    align-items: center;
    figure {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding-right: 0;
    }
    button {
      min-width: 95px;
      margin-bottom: 5px;
    }
  }
}

#searchbar {
  width: 88.5%;
  height: 48px;
  margin-left: 15px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 8px;
  padding-left: 16px;
  background: $white;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  letter-spacing: 0;
  line-height: 22px;
  @media screen and (max-width: 1439px) {
    width: 87.3%;
    margin-right: 2%;
  }
}

#search {
  align-self: center;
  span {
    width: 100%;
    display: flex;
    justify-content: space-around;
    p {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }
}

.subtitle {
  width: 100%;
  height: 32px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  padding-left: 7px;
  background: #fffafe;
  color: $dark-blue;
}

.main-container {
  width: 100%;
  display: grid;
  grid-auto-flow: dense;
}

.suggested-gif-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  color: $white;
  font-weight: 800;
  img {
    width: 16px;
    height: 14px;
  }
}

.gif-img {
  width: 278px;
  height: 257px;
}

.result-gifs {
  margin-top: 64px;
}

.result-gifs-container {
  width: 100%;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: repeat (4, 1fr);
  grid-auto-flow: dense;

  @media screen and (max-width: 1439px) {
    grid-gap: 4px;
  }

  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.result-gif {
  width: 288px;
  height: 298px;
  position: relative;
  padding: 4px;
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
  img:hover ~ figcaption {
    width: 97.5%;
    height: 22px;
    display: flex;
    position: absolute;
    align-items: center;
    bottom: 4px;
    padding: 3px;
    color: $white;
    font-weight: 800;
  }
  figcaption {
    display: none;
  }

  @media screen and (max-width: 1439px) {
    width: 100%;
    height: auto;
    max-height: 298px;
    min-height: 250px;
  }

  @media screen and (max-width: 768px) {
    min-height: 130px;

    img {
      min-height: 130px;
    }
  }
}

.gif-span {
  grid-column: span 2;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
  }
  img:hover ~ figcaption {
    width: 98.7%;
  }
  @media screen and (max-width: 768px) {
    grid-column: span 1;
  }
}

.related-results {
  width: 100%;
  min-height: 44px;
  margin-top: 12px;
  overflow: hidden;
  button {
    color: $white;
    width: auto;
    height: 34px;
    padding: 8px;
    margin-right: 8px;
    margin-bottom: 10px;
  }
}

.create-gifos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-gifos-start {
  width: 684px;
  height: 386px;
  margin-top: 78px;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  padding: 3px;
  h2 {
    height: 24px;
    padding-left: 4px;
    margin: 3px;
    display: flex;
    align-items: center;
    span {
      color: $white;
    }
  }
}

.description-title {
  height: 32px;
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  margin-left: 32px;
  strong {
    margin-left: 16px;
  }
}

.description-content {
  width: 518px;
  height: 190px;
  margin-top: 7px;
  margin-left: 80px;
  p {
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  ol {
    li {
      margin-top: 15px;
    }
  }
}

.create-gif-btn-container {
  width: auto;
  min-width: 304px;
  margin-top: 28px;
  margin-left: 271px;
  display: flex;
  button {
    border: 1px solid;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  }
}

.button-white {
  margin-right: 16px;
  background: #fff4fd;
  background: #fff4fd;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.create-gifos-record {
  width: 860px;
  height: 548px;
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  figcaption {
    width: 854px;
    height: 24px;
    margin: 3px;
    padding-right: 10px;
    padding-left: 7px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      color: $white;
    }
  }
  video,
  .loading-section {
    width: 838px;
    height: 440px;
    border: 1px solid black;
    padding: 3px;
    background: #ffffff;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: fill;
  }
}

.double-btn {
  width: 180px;
  display: flex;
  margin-top: 21px;
  margin-right: 16px;
  align-self: flex-end;
  button:first-of-type {
    border-right: none;
  }
}

.recording-section {
  width: 100%;
  display: flex;
  align-items: center;
}

.time-counter {
  min-width: 124px;
  height: 36px;
  margin-top: 21px;
  margin-left: 11px;
  padding: 7px;
  background: #ffffff;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-red {
  background: #ff6161;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
  color: $white;
}

#btn-ready {
  margin-left: 528px;
}

.button-play {
  height: 20px;
  width: 20px;
  span {
    display: flex;
    align-self: center;
  }
}

.arrow-left {
  width: 0;
  height: 0;
  border-left: 7px solid $dark-blue;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
}

.player-bar {
  width: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 28px;
  margin-left: 24px;
  .dotted-border-36:hover {
    height: 99%;
  }
}

.time-bar,
.loading-bar {
  width: auto;
  display: flex;
  background: #b4b4b4;
  box-shadow: inset -2px -2px 0 0 #fffcfc, inset 2px 2px 0 0 #000000;
  margin-left: 4px;
}

.time-square,
.loading-square {
  width: 12px;
  height: 20px;
  background: #999999;
  margin: 2px;
}

.upload-gif-btn-container {
  width: auto;
  min-width: 304px;
  margin-top: 28px;
  display: flex;
  button {
    border: 1px solid;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  }
}

.capture-confirm {
  width: inherit;
  margin-right: 16px;
  display: flex;
  justify-content: space-between;
}

.loading-section {
  img,
  figure {
    margin-bottom: 8px;
  }
  strong {
    margin-bottom: 41px;
    color: $dark-blue;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
  }
  p {
    color: rgba(17, 0, 56, 0.64);
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
  }
}

.abort-upload {
  border: 1px solid;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  margin-top: 21px;
  margin-left: 702px;
}

.upload-success {
  width: 721px;
  height: 391px;
  display: flex;
  z-index: 3;
  flex-wrap: wrap;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  margin-top: 85px;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  figcaption {
    width: 100%;
    height: 24px;
    margin: 3px;
    padding-right: 10px;
    padding-left: 7px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      color: $white;
    }
  }
}

.uploaded-guifo {
  width: 365px;
  height: 191px;
  margin-top: 27px;
  margin-left: 24px;
  margin-right: 24px;
  background: #ffffff;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
}

.upload-confirm {
  width: 256px;
  height: auto;
  margin-top: 49px;
  display: flex;
  flex-direction: column;
  strong {
    margin-bottom: 16px;
  }
  a {
    margin-bottom: 111px;
  }
  button:first-of-type {
    margin-bottom: 14px;
  }
  button:last-of-type {
    margin-bottom: 44px;
    align-self: flex-end;
  }
}

.error-window {
  border: 1px solid;
  width: 300px;
  height: auto;
  display: flex;
  padding: 2px;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  color: $dark-blue;
  figcaption {
    width: 100%;
    height: 24px;
    padding-left: 4px;
    margin-top: 1px;
    display: flex;
    align-items: center;
    span {
      color: white;
    }
  }
  p {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
  }
  button {
    margin-bottom: 5px;
  }
}

.error-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 5px;
  img {
    margin-right: 5px;
  }
}

.copy-popup {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(8px 8px 10px black);

  h4 {
    width: 150px;
    height: 50px;
    color: $white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
