$chakra: "Chakra Petch", sans-serif;
$white: #ffffff;
$dark-blue: #110038;

.gradient-background {
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
}

.button-pink {
  background: #f7c9f3;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 $white;
  border: 1px solid $dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  & :hover {
    background: #e6bbe2;
  }
}

.my-gifos-tag:hover {
  border: 1px dotted $dark-blue;
  cursor: pointer;
}

.my-gifos-tag:active {
  border: $white;
  color: grey;
}
.theme-selector:hover,
.double-btn:hover {
  .dotted-border-144,
  .dotted-border-131,
  .dotted-border-36 {
    width: 99%;
    height: 32px;
    border: 1px dotted $dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dotted-pink {
    background: #e6bbe2;
  }
}

.themes-list {
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 $white;
}

.theme-day {
  background: #fff4fd;
  border: 1px solid #cca6c9;
  box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 $white;
}

.theme-night {
  background: #f0f0f0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 $white;
}

.subtitle {
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
}

.search-bar {
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 $white;
}

.btn-disabled {
  background: #e6e6e6;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 $white;
  color: #b4b4b4;
}

.suggested-results {
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 $white;
  button {
    background: #f0f0f0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 $white;
    span:hover {
      background: #dbdbdb;
    }
  }
}

.gif-suggested-container {
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 $white;
  a {
    background: #4180f6;
    border: 1px solid #4c2f99;
    box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 $white;
    :hover {
      background: #3a72db;
    }
  }
}

.result-gif:hover {
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 $white;
}

.related-results {
  button {
    background: #4180f6;
    border: 1px solid #4c2f99;
    box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 $white;
  }
}

.create-gifos-start,
.create-gifos-record {
  background: #e6e6e6;
}

.square-pink {
  background: #f7c9f3;
}

.error-window {
  background: #e6e6e6;
}

.copy-popup h4 {
  background: #4180f6;
  border: 1px solid #4c2f99;
  box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 $white;
}
