@import "normalize";
@import "reset";
@import "generic-styles";

header {
  max-width: 1440px;
  height: 23px;
  margin: 0 auto;
  margin-top: 1px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 0 0 #110038;
  color: $white;
  letter-spacing: 0;
  text-align: left;
}

main {
  display: flex;
  align-items: flex-start;
  margin-top: 44px;
}

#gifos-img {
  width: 100px;
  height: 60px;
}

.create-gifos {
  margin-left: 53%;
  margin-right: 16px;
}

#drop-down {
  border-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.underlined {
  text-decoration: underline;
}

.theme-selector {
  width: 170px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.themes-list {
  width: 167px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme-day {
  margin-top: 13px;
  margin-bottom: 10px;
  justify-content: left;
  padding-left: 16px;
}

.theme-night {
  margin-bottom: 10px;
  justify-content: left;
  padding-left: 16px;
}


.button-container {

  width: 1100px;
  display: flex;
}